body {
  @media screen and (max-width: ) {

  }
  @media screen and (max-width: 375.2px) {
    width: 375px;
  }
  @media screen and (max-width: 320px) {
    width: 320px;
  }
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar
{
	width: 0px;
  height: 0px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0,0,0,0);
}
* {
  // perfomance?
  margin: 0;
  padding: 0;
}
.main {
  position: relative;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    color-stop(13.26%, #31333b),
    color-stop(74.59%, #363945),
    to(#2b2d35)
  );
  background: -webkit-linear-gradient(
    top,
    #31333b 13.26%,
    #363945 74.59%,
    #2b2d35 100%
  );
  background: -o-linear-gradient(
    top,
    #31333b 13.26%,
    #363945 74.59%,
    #2b2d35 100%
  );
  background: linear-gradient(
    180deg,
    #31333b 13.26%,
    #363945 74.59%,
    #2b2d35 100%
  );
  @media screen and (max-width: 1600px) { // 1600 чтобы не так отвратительно смотрелось выше 767px
    width: 1600px;
    height: 900px;

  }
  @media screen and (max-width: 767.2px) {
    width: 767px;
    height: 667px;
  }
  @media screen and (max-width: 375.2px) {
    width: 375px;
    height: 667px;
  }
  @media screen and (max-width: 320px) {
    width: 320px;
    height: 568px;
  }
}
.header-added-heroes {
  display: block;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))),
    -webkit-gradient(linear, left top, left bottom, color-stop(-51.19%, #555761), to(#2b2d35));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    -webkit-linear-gradient(top, #555761 -51.19%, #2b2d35 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    -o-linear-gradient(top, #555761 -51.19%, #2b2d35 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(180deg, #555761 -51.19%, #2b2d35 100%);
  height: 168px;
  @media screen and (max-width: 767.2px) {
    width: 767px;
    overflow: hidden;
  }
  @media screen and (max-width: 375.2px) {
    width: 375px;
    overflow: hidden;
  }
  @media screen and (max-width: 320px) {
    width: 320px;
    overflow: hidden;
  }
}
.heroes {
  height: 100px; /* 40px - more place for scrollbar, is hidden under parent box */
  padding-left: 20px;
  padding-top: 40px;
  white-space: nowrap;
  overflow-x: scroll;
  // overflow-y: hide;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  // width: 375px;
  // cursor: pointer;
  // -webkit-transform: translate3d(0,0,0);
}
.hero {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #ddd;
  border-radius: 8px;
  -webkit-transform: translate3d(0,0,0);
}
.hero-name {
  // position: absolute;
  height: 15px;
  // left: 0px;
  // right: 0px;
  // top: 105px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  text-align: center;

  color: #FFFFFF;

}
div.hero:hover span:first-child{
  display: none;
}
.span:hover :first-child {
  width: 20px;
  height: 20px;
  background: cyan;
}
#delete {
  display: none;
  position: absolute;
  right: 0px;
  line-height: normal;
  height: 15px;
}
.hero + .hero {
  margin-left: 16px;
}
.hero__image {
  // -webkit-transform: translate3d(0,0,0);
}
.heroes__link {
  // -webkit-transform: translate3d(0,0,0);
}
.heroes__link + .heroes__link {
  margin-left: 16px;
}
.hero__counter-icon {
  position: absolute;
  left: 4px;
  bottom: 4px;
}
.counter-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  color: #ffffff;
  position: absolute;
  width: 7px;
  height: 15px;
  left: 13px;
  bottom: 8px;
}
.counter-text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  color: #ffffff;
  position: absolute;
  width: 7px;
  height: 15px;
  left: 9px;
  bottom: 8px;
}
.shadow-last-scroll-hero {
  position: absolute;
  width: 46px;
  height: 144px;
  top: 24px;
  z-index: 1;
  // -webkit-transform: translate3d(0,0,0);
  @media screen and (max-width: 1600px) {
    left: 1554px;
  }
  @media screen and (max-width: 767.2px) {
    left: 721px;
  }
  @media screen and (max-width: 375.2px) {
    left: 330px;
  }
  @media screen and (max-width: 320px) {
    left: 282px;
  }
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #282930), to(rgba(40, 41, 48, 0)));
  background: -webkit-linear-gradient(right, #282930 50%, rgba(40, 41, 48, 0) 100%);
  background: -o-linear-gradient(right, #282930 50%, rgba(40, 41, 48, 0) 100%);
  background: linear-gradient(270deg, #282930 50%, rgba(40, 41, 48, 0) 100%);
}
.header-added-heroes__call-to-action-text {
  // -webkit-transform: translate3d(0,0,0);
  position: absolute;
  // left: 316px; // def
  // width: 136px;
  height: 22px;
  top: 76px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #4b4e5c;
  @media screen and (max-width: 1600px) {
    left: 316px;
    width: 136px;
  }
  @media screen and (max-width: 375.2px) {
    left: 119.5px;
    width: 136px;
  }
  @media screen and (max-width: 320px) {
    left: 92px;
    width: 136px;
  }
}
.find-hero-list {
  position: relative;
  @media screen and (max-width: 767.2px) {
    width: 767px;
    height: 499px;
  }
  @media screen and (max-width: 375.2px) {
    // почеум при указании в хроме ширины 375 он ставит 375.2?
    width: 375px;
    height: 404px;
  }
  @media screen and (max-width: 320px) {
    width: 320px;
    height: 304px;
    // height: 472px;
  }
}
.find-hero-list__list {
  // change
  display: grid;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fit, minmax(72px, 72px));
  grid-auto-rows: 100px;
  grid-gap: 36px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 100px;
  width: 320px;
  // height: 204px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (max-width: 1600px) {
    width: 1567px;
    grid-gap: 48px 16px;
    height: 399px;
  }
  @media screen and (max-width: 767.2px) {
    grid-gap: 48px 16px;
    width: 767px;
    height: 399px;
  }
  @media screen and (max-width: 375.2px) {
    grid-template-columns: repeat(auto-fit, minmax(72px, 72px));
    width: 375px;
    // height: 403px;
    height: 296px;
    grid-gap: 48px 16px; // TODO как лучше сделать?
    padding-right: 19px;
  }
  @media screen and (max-width: 320px) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(64px, 64px)
    );
    width: 320px;
    height: 204px;
    // height: 372px;
    grid-gap: 36px 8px;
    padding-right: 20px;
  }
}
.hero-card {
  @media screen and (max-width: 1600px) {
    width: 72px;
    height: 100px;
  }
  @media screen and (max-width: 320px) {
    width: 64px;
    height: 100px;
  }
  width: 64px;
  height: 100px;
  border-radius: 8px;
  background: #ddd;
}
.search-bar {
  position: absolute;
}
.search-bar__input {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 0px;
  // border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  color: #ffffff;
  height: 56px;
  top: 16px;
  padding-left: 14px;
  &::-webkit-input-placeholder {
    color: white;
  }
  &:-ms-input-placeholder {
    color: white;
  }
  &::-ms-input-placeholder {
    color: white;
  }
  &::placeholder {
    color: white;
  }
  width: 336px;
  left: 20px;
  @media screen and (max-width: 767.2px) {
    width: 336px;
    left: 20px;
  }
  @media screen and (max-width: 375.2px) {
    width: 335px;
    left: 20px;
  }
  @media screen and (max-width: 320px) {
    width: 288px;
    left: 16px;
  }
  background: #4b4e5c;
  border-radius: 8px;
}
.search-bar__submit-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 33px; // left: 264px;
  left: 316px;
  @media screen and (max-width: 767.2px) {
    left: 316px;
  }
  @media screen and (max-width: 375.2px) and (max-width: 375.2px) {
    left: 316px;
  }
  @media screen and (max-width: 320px) {
    left: 264px;
  }
}
.footer-universe-selecting {
  // position: relative;
  background: #31333d;
  height: 96px;
  position: absolute;
  bottom: 0px;
  @media screen and (max-width: 1600px) and (min-width: 376px) {
    position: absolute;
    top: 177px;
    left: 432px;
    width: 276px;
    height: 75px;
    background: none;
  }
  @media screen and (max-width: 375.2px) {
    height: 96px;
    position: absolute;
    bottom: 0px;
    width: 375px;
  }
  @media screen and (max-width: 320px) {
    height: 96px;
    position: absolute;
    bottom: 0px;
    width: 320px;
  }
}
.footer-universe-selecting__dc-universe {
  position: absolute;
  width: 120px;
  height: 75px;
  @media screen and (max-width: 767.2px) {
    // left: 0px;
  }
  @media screen and (max-width: 375.2px) {
    // strange.. in chrome
    left: 44px;
    top: 0px;
  }
  @media screen and (max-width: 320px) {
    left: 28px;
    top: 14px;
  }
}
.footer-universe-selecting__marvel-universe {
  position: absolute;
  width: 111px;
  height: 50px;
  visibility: visible;
  opacity: 0.2;
  @media screen and (max-width: 1600px) {
    top: 10px;
    right: 0px;
  }
  @media screen and (max-width: 375.2px) {
    right: 55px;
    bottom: 26px;
  }
  @media screen and (max-width: 320px) {
    right: 40px;
    top: 24px;
  }
}
